*, *::before, *::after {
    box-sizing: border-box;

}
html{
    height: 100%;
}
body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #E4E4EE34;
}
h2 {
    font-size: 20px;
    line-height: 50px;
    margin: 0;
    font-weight: 600;
}
th {
    width: 180px;
    height: 60px;
}
td {
    width: 180px;
    height: 60px;
    text-align: center;
}
table {
    border: none;
}

input {
    width: 120px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.31);
    border-radius: 4px;
    transition: 0.3s;
    
    font-size: 18px;
    text-align: center;
}
input:focus-visible {
    border: 1px solid #4353FF;
    outline: none;
}
.main-page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.main-container {
    width: 960px;
    height: 900px;
    margin: 0 auto;

    padding: 0 50px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.31);
}
.main-containerdiv {
    width: 100%;
}
.main-label {
    text-align: center;
    height: 60px;
    padding-top: 10px;
}

.main-table {
    height: 360px;
}
.consumption-material {
    width: 100%;
}
.consumption-material-table {
    width: 540px;
    height: 120px;
    margin: 0 auto;
}
.consumption-material-header th {
    height: 30px;
}
.limitation-production-table {
    width: 300px;
    margin: 0 auto;
}
.limitation-production-table td {
    width: 100%;
}
.limitation-production-table input {
    width: 70px;
}
.limitation-production-select {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.31);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.submtin-btn-div {
    width: 220px;
    margin: 0 auto;
    margin-top: 100px;
}
.submtin-btn, .back-btn {
    width: 220px;
    height: 62px;
    background: #4353FF;
    border-radius: 8px;
    font-size: 20px;
    line-height: 62px;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
}
.submtin-btn:hover {
    opacity: 0.8;
    cursor:pointer;
}


/* RESULT */

.main-result {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.31);
    background-color: #FFFFFF;
}
.main-result div {
    width: 100%;
}
.result-label {
    text-align: center;
}

.back-btn {
    margin: 0 auto;
    width: 100px;
    height: 42px;
    line-height: 42px;
    display: block;
    text-align: center;
}