{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>T-type</title>
    <link rel="stylesheet" href="{% static 'transport/css/style.css' %}" />
  </head>
  <body>
    <div class="main-page">
      <div class="main">
        <div class="main-container">
          <form name="transport-form" method="post" autocomplete="off" action="calculate/">
            {% csrf_token %}
            <div class="main-table">
              <div class="main-label">
                  <h2>🚛Минимизация стоимости перевозок</h2>
                </div>
              <table cellspacing="0" cellpadding="0">
                <tr>
                  <th></th>
                  <th colspan="3">Потребители</th>
                  <th></th>
                </tr>
                <tr>
                  <th>Поставщики Аi</th>
                  <th>Кафе №1</th>
                  <th>Кафе №2</th>
                  <th>Кафе №3</th>
                  <th>Запасы</th>
                </tr>
                <tr>
                  <td>Пекарня №1</td>
                  <td><input type="text" placeholder="Стоимость" value="7" name="c1"/></td>
                  <td><input type="text" placeholder="Стоимость" value="3" name="c2"/></td>
                  <td><input type="text" placeholder="Стоимость" value="6" name="c3"/></td>
                  <td><input type="text" placeholder="Запас" value="74" name="a1"/></td>
                </tr>
                <tr>
                  <td>Пекарня №2</td>
                  <td><input type="text" placeholder="Стоимость" value="4" name="c4"/></td>
                  <td><input type="text" placeholder="Стоимость" value="8" name="c5"/></td>
                  <td><input type="text" placeholder="Стоимость" value="2" name="c6"/></td>
                  <td><input type="text" placeholder="Запас" value="40" name="a2"/></td>
                </tr>
                <tr>
                  <td>Пекарня №3</td>
                  <td><input type="text" placeholder="Стоимость" value="1" name="c7"/></td>
                  <td><input type="text" placeholder="Стоимость" value="5" name="c8"/></td>
                  <td><input type="text" placeholder="Стоимость" value="9" name="c9"/></td>
                  <td><input type="text" placeholder="Запас" value="36" name="a3"/></td>
                </tr>
                <tr>
                  <td>Потребности</td>
                  <td><input type="text" placeholder="Потребность" value="20" name="b1"/></td>
                  <td><input type="text" placeholder="Потребность" value="45" name="b2"/></td>
                  <td><input type="text" placeholder="Потребность" value="30" name="b3"/></td>
                  <td>Потребности/Запасы</td>
                </tr>
              </table>
            </div>
            <div class="submtin-btn-div">
                  <input class="submtin-btn" type="submit" value="Построить план"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
