{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'transport/css/style.css' %}">
    <title>Результат вычеслений</title>
</head>
<body>
    <div class="main-result">
        <div class="result-label"><h2>✅Решение</h2></div>
        <div class="result-profit">Стоимость доставки: <b>{{cost}}</b></div>
        <p>Будет получена при слеующем плане перевозки:</p>
        <table cellspacing="0" cellpadding="0">
            <tr>
              <th></th>
              <th colspan="3">Потребители</th>
              <th></th>
            </tr>
            <tr>
              <th>Поставщики Аi</th>
              <th>Кафе №1</th>
              <th>Кафе №2</th>
              <th>Кафе №3</th>
              <th>Запасы</th>
            </tr>
            <tr>
              <td>Пекарня №1</td>
              <td><b>{{x1}}</b></td>
              <td><b>{{x2}}</b></td>
              <td><b>{{x3}}</b></td>
              <td>{{a1}}</td>
            </tr>
            <tr>
              <td>Пекарня №2</td>
              <td><b>{{x4}}</b></td>
              <td><b>{{x5}}</b></td>
              <td><b>{{x6}}</b></td>
              <td>{{a2}}</td>
            </tr>
            <tr>
              <td>Пекарня №3</td>
              <td><b>{{x7}}</b></td>
              <td><b>{{x8}}</b></td>
              <td><b>{{x9}}</b></td>
              <td>{{a3}}</td>
            </tr>
            <tr>
              <td>Потребности</td>
              <td>{{b1}}</td>
              <td>{{b2}}</td>
              <td>{{b3}}</td>
              <td>Потребности/Запасы</td>
            </tr>
          </table>
        <a href="../" class="back-btn">Назад</a>
    </div>
</body>
</html>